.lt_category_left {
  position: relative;
  height: 100%;
  width: 90px;
  float: left;
}
.lt_category_left li {
  display: block;
  width: 90px;
  height: 50px;
  background-color: #ddd;
  text-align: center;
  line-height: 50px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.lt_category_left li.current {
  background-color: #fff;
  border-right: none;
}
.lt_category_right {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.lt_category_right li {
  float: left;
  width: 33.3%;
}
.lt_category_right li img {
  width: 70px;
  height: 50px;
  margin: 0 auto;
}
.lt_category_right li p {
  text-align: center;
}
.tips {
  padding: 10px;
  font-size: 12px;
}
