.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search .search_input {
  height: 34px;
  padding-left: 15px;
  padding-right: 33px;
  margin: 0;
  border: 1px solid #007AFF;
  font-size: 12px;
}
.lt_search .search_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 3px 3px 0;
}
.lt_history {
  padding: 10px;
  font-size: 12px;
  color: #666;
}
.lt_history .title {
  height: 30px;
  line-height: 30px;
}
.lt_history .content {
  border: 1px dashed red;
  border-bottom: none;
}
.lt_history .content li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
}
.lt_history .content li a {
  padding: 0 10px;
}
.lt_history .content li i {
  padding-top: 3px;
}
